
</div>
<footer class="footer-class">
  <div class="row footer-row mt-4">
    <div class="col p-2 footer-bd-bottom footer-bd-right d-flex flex-column">
      <div class="row footer-row">
        <div class="col footer-logo">
          <img src="../../public/pics/logo-search-grid-1x.png" width="140" height="100" />
        </div>
        <div class="col footer-icon d-flex flex-grow-1  mr-4">
          P
        </div>
      </div>
      <div class="row footer-row d-flex align-items-center">
        © PETITCOAT
      </div>
    </div>


    <div class="col p-2 footer-bd-bottom footer-bd-right">
      <h5>고객센터</h5>
      <ul class="nav flex-column">
        <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">Pricing</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">FAQs</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">About</a></li>
      </ul>
    </div>

    <div class="col p-2 footer-bd-bottom footer-bd-right">
      <h5>FAQ</h5>
      <ul class="nav flex-column ">
        <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">FAQs</a></li>
      </ul>
    </div>

    <div class="col p-2 footer-bd-bottom">
      <h5>Section3</h5>
      <ul class="nav flex-column ">
        <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">Pricing</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">FAQs</a></li>
        <li class="nav-item"><a href="#" class="footer-item fs-6">About</a></li>
      </ul>
    </div>
  </div>

  <div class="row footer-row mb-4">
    <div class="col p-2 footer-bd-right">a</div>
    <div class="col-6 p-2 footer-bd-right">b</div>
    <div class="col p-2">c</div>
  </div>
  </footer>
</div>
<script src="/public/js/nav.js"></script>
</body>
</html>
