
</div>
<footer class="footer-class">
  <div class="row flex-grow-1 my-4">
    <div class="col p-0 d-flex flex-column">
      <div class="row pt-2 px-2 flex-grow-1">
        <div class="col footer-logo">
          <img src="../../public/pics/logo-search-grid-1x.png" width="140" height="100" />
        </div>
        <div class="col footer-icon d-flex flex-grow-1 justify-content-center pl-2"></div>
      </div>
      <div class="row p-2 flex-grow-1 d-flex align-items-center">
        © PETITCOAT
      </div>
      <div class="row p-2 footer-bd-top pt-2"><a class="hongKu fs-smaller" href="https://www.youtube.com/@hongkucouple" target="_blank">BY <span class="hong">홍</span><span class="ku">꾸</span>커플</a></div>
    </div>

    <div class="col col-6 p-0 footer-bd-left d-flex flex-column">
      <div class="row flex-grow-1 footer-bd-bottom">
        <div class="col p-2">
          <h6 class="ft-w-9">고객센터</h6>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">Pricing</a></li>
          </ul>
        </div>

        <div class="col p-2 footer-bd-left">
          <h6>FAQ</h6>
          <ul class="nav flex-column ">
            <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="row fs-smaller">
        <div class="col p-2">서울시 ◇◇구 ◇◇로 ◇◇ ◇◇◇◇◇◇</div>
      </div>
    </div>

    <div class="col p-0 footer-bd-left d-flex flex-column">
      <div class="row flex-grow-1 footer-bd-bottom">
        <div class="col p-2">
          <h6>Section3</h6>
          <ul class="nav flex-column">
            <li class="nav-item"><a href="#" class="footer-item fs-6">Home</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">Features</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">Pricing</a></li>
            <li class="nav-item"><a href="#" class="footer-item fs-6">FAQs</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col p-2 fs-smaller">☏ 010.0000.0000</div>
      </div>
    </div>
  </div>

    
    
    
  </footer>
</div>
<script src="/public/js/nav.js"></script>
</body>
</html>
