<div class="container body-container">
  <header class="mb-4 header-border">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between"
    >
      <div class="nav-toggle">
        <div class="d-flex align-items-center justify-content-center">
          <i class="fas fa-bars"></i>
        </div>
      </div>

      <ul class="top-nav nav col-12 col-md-auto justify-content-center">
        <li><a href="/shop" class="nav-link px-4 link-secondary">SHOP</a></li>
        <li><a href="/about" class="nav-link px-4">ABOUT</a></li>
      </ul>

      <div
        class="my-4 d-flex align-items-center justify-content-center logo-div"
      >
        <a
          href="/"
          class="d-inline-flex link-body-emphasis text-decoration-none"
        >
          <img
            src="../../public/pics/petitcoatlogo.PNG"
            alt="petitcoat logo"
            width="300"
            height="50"
          />
        </a>
      </div>

      <ul class="top-nav nav col-12 col-md-auto justify-content-center">
        <li><a href="/login" class="nav-link px-4">LOGIN</a></li>
        <li><a href="/cart" class="nav-link px-4">CART(0)</a></li>
      </ul>
    </div>

    <div class="dropdown-menu">
      <ul>
        <li><a href="/shop" class="nav-link">SHOP</a></li>
        <li><a href="/about" class="nav-link">ABOUT</a></li>
        <li><a href="/login" class="nav-link">LOGIN</a></li>
        <li><a href="/cart" class="nav-link">CART(0)</a></li>
      </ul>
    </div>
  </header>
</div>
