<header class="box header-class mb-4">
  <div
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between top-border"
  >
    <div class="nav-toggle">
      <div class="d-flex align-items-center justify-content-center">
        <i class="fas fa-bars"></i>
      </div>
    </div>

    <ul class="top-nav nav justify-content-center">
      <li class="nav-li"><a class="nav-link px-4 shop-nav">SHOP</a></li>
      <li class="nav-li"><a class="nav-link px-4 about-nav">ABOUT</a></li>
    </ul>

    <div class="my-4 d-flex align-items-center justify-content-center logo-div">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <img
          src="../../public/pics/petitcoatlogo.PNG"
          alt="petitcoat logo"
          width="300"
          height="50"
        />
      </a>
    </div>

    <ul class="top-nav nav justify-content-center">
      <li class="nav-li">
        <% if (user) { %>
        <a href="/logout" class="nav-link px-4 login-nav">LOGOUT</a>
        <% } else { %>
        <a href="/login" class="nav-link px-4 login-nav">LOGIN</a>
        <% }%>
      </li>
      <li class="nav-li">
        <a href="/cart" class="nav-link px-4 cart-nav">CART(0)</a>
      </li>
    </ul>
  </div>

  <div class="mob-dd">
    <ul>
      <li><a href="/shop" class="nav-link">SHOP</a></li>
      <li><a href="/about" class="nav-link">ABOUT</a></li>
      <li><a href="/login" class="nav-link">LOGIN</a></li>
      <li><a href="/cart" class="nav-link">CART(0)</a></li>
    </ul>
  </div>

  <div class="shop-dd">
    <ul class="dd-ul"></ul>
  </div>
  <div class="about-dd">
    <ul class="dd-ul"></ul>
  </div>
</header>
