<%- include('partials/header') %>
<div class="home-container">
  <div class="home-image-div">
    <img
      src="../public/pics/IMG_9830.JPG"
      alt="petitcoat logo"
      class="home-image"
    />
  </div>
</div>
<%- include('partials/footer') %>
