/* #fffdf1 */
/* #eee3cb */
body {
  background-color: #eee3cb;
  color: gray;
}

.box {
  margin: 0 15px;
}

.body-container {
  display: flex; /**/
  flex-direction: column; /**/
  min-height: 100vh;
}

.header-class {
  display: flex;
  flex-direction: column; /**/
}

.footer-class {
  border-top: 1px dashed black !important;
  margin-top: auto;
}

.nav-link {
  color: gray;
  font-size: large;
  text-align: center;
  /* font-weight: bold; */
}

.nav-link:focus,
.nav-link:hover {
  color: black;
}

.top-border {
  border-bottom: 1px dashed black !important;
}

.mob-dd,
.shop-dd,
.about-dd {
  display: none;
}

.mob-dd.open,
.shop-dd.open,
.about-dd.open {
  display: block;
  opacity: 1;
  border-bottom: 1px dashed black;
  background-color: #fffdf1;
}

.mob-dd ul,
.shop-dd ul,
.about-dd ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-toggle {
  display: none; /* Hide the toggle icon by default */
}

@media (max-width: 788px) {
  .justify-content-md-between {
    justify-content: center !important;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
    padding: 5px;
    margin-right: auto;
  }

  .logo-div {
    margin-right: auto;
  }

  .nav-toggle i {
    font-size: 30px;
  }

  .top-nav {
    display: none; /* Hide the navigation links by default */
  }

  .dropdown-menu {
    position: static;
    background-color: transparent;
    transition: none;
    opacity: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px dashed black;
    padding: 0;
  }

  .nav-link {
    padding: 0.1rem 0.5rem;
  }
}
.shop-nav:hover,
.about-nav:hover {
  cursor: pointer;
  color: black !important;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image-div {
  height: 100%;
  width: 30rem;
}
.home-image {
  max-width: 100%;
  height: auto;
}

.footer-item {
  color: gray;
  text-decoration: none;
}

.footer-item:focus,
.footer-item:hover {
  color: black;
  text-decoration: none;
}

.border {
  border-color: red !important;
}

.footer-logo {
  padding: 0;
}

.footer-icon {
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
}

.footer-bd-top {
  border-top: dashed 1px black;
}

.footer-bd-bottom {
  border-bottom: dashed 1px black;
}

.footer-bd-left {
  border-left: dashed 1px black;
}

.row {
  margin: 0;
}

.atag {
  color: gray;
  text-decoration: none;
  font-weight: bold;
}

/* .atag:focus, */
.atag:hover {
  color: black;
  text-decoration: none;
}

/* .hong {
  color: #ff81ff;
}

.ku {
  color: #00dafe;
} */

.fs-smaller {
  font-size: smaller;
}

.ft-w-9 {
  font-weight: 900 !important;
}

.nav-li {
  width: 120px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  min-width: 600px;
}

.format {
  width: 100%;
}

.format > div > label {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.loginput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  height: 50px;
  line-height: 1;
  outline: none;
  font-size: 18px;
  color: #000;
  background-color: #eee3cb;
}

.login-container > div {
  width: 100%;
  color: gray;
}

.login-container > div > a {
  font-weight: 400;
}

#v_cb {
  font-size: 15px;
  line-height: 30px;
  width: 13px;
  height: 13px;
  border: 1px solid #000;
  transition: background 0.3s cubic-bezier(0.49, 0.01, 0.27, 1);
  margin-right: 15px;
}

.format button {
  background-color: #fffdf1;
  height: 50px;
  cursor: pointer;
}

.format button:hover {
  background-color: #eee3cb;
  height: 50px;
  cursor: pointer;
}
