<%- include('../partials/header') %>
<div class="body-container d-flex flex-column align-items-center mt-3">
  <h3 class="mb-4">NEW ARRIVAL</h3>
  <div class="newarrival_grid_container" style="width: 100%">
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
    <div>
      <div class="m-3" style="position: relative">
        <div class="prdImg">
          <a
            href="/product/detail.html?product_no=991&amp;cate_no=103&amp;display_group=1"
            name="anchorBoxName_991"
          >
            <img
              src="//en.minitmute.com/web/product/medium/202302/00488b9a8b6b4a1185f7b0e826d032fa.jpg"
              alt="lime_bag"
              style="max-width: 100%"
            />
          </a>
          <span
            class="wish"
            style="
              position: absolute;
              z-index: 1;
              right: 13px;
              cursor: pointer;
              font-size: xx-large;
            "
            >♡</span
          >
        </div>
      </div>
      <div class="description d-flex flex-column align-items-center">
        <a
          href="/product_detail"
          style="font-size: 15px; color: #252525"
          class="d-flex flex-column align-items-center mt-2"
        >
          <div>clo waist</div>
          <div>butter<small>(5/23 Delivery)</small></div>
        </a>
        <div
          class="my-2"
          style="font-size: 25px; color: #252525; font-weight: bold"
        >
          $154.00
        </div>
        <div class="soldout mb-2">SOLD OUT</div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
